<div class="page-header justify-content-center">
  <img src="../../assets/img/exc1.jpg" alt="a map" class="w-80 pt-6"/>
</div>
<section class="">
  <h1>Tips on excursions</h1>
  <p class="w-80">Beside being the most mysterious Croatian island Vis is packed with interesting places, historic sites, beautiful beaches, natural caves, vineryies, olive gardens, cozy roads, stunning views etc.</p>
  <p class="w-80">You are welcome to discover Vis on your own if you are with or without transportation? If you would like to go and discover places outside the “tourist map” let us know and we will help you get the best out of the island.</p>
  <p class="w-80">VisitAylinVis owns a speed boat that can take up to 7 people. We can offer our guests trips around island and trips to Vis Archipelago such as Blue Cave, Green Cave or other beaches that are hidden from car visitors.</p>
</section>


