<div class="mt-7">
  <h1 class="text-center">Reservations</h1>
  <section class="pt-5 mt-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="card">
            <div class="table-responsive">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr >
                    <th class="text-uppercase text-secondary text-center text-m font-weight-bolder opacity-7">Date</th>
                    <th class="text-uppercase text-secondary text-center text-m font-weight-bolder opacity-7 ps-2" *ngFor="let item of reservationList">{{getApartmentName(item.apartmentId)}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let seasonDate of seasonDates">
                    <td>
                      <div class="d-flex px-2">
                        <div class="my-auto" >
                          <h6 class="mb-0 text-xs">{{seasonDate.toLocaleString()}}</h6>
                        </div>
                      </div>
                    </td>
                    <td *ngFor="let item of reservationList">
                      <p class="text-xs font-weight-bold mb-0" [ngClass]="{'red' : checkIfDateIsOccupied(seasonDate, item.reservations) == true, 'green' : checkIfDateIsOccupied(seasonDate, item.reservations) == false}">{{checkIfDateIsOccupied(seasonDate, item.reservations)}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
