.red, .green {
  width: 15px;
  border-radius: 50%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
