<div class="cd-section section-white mt-7" id="contact-us">

  <div class="main">
    <div class="section section-gray">
      <div class="container">
        <h2 class="text-center creators">
          <!-- {{'ContactUs'  }} -->
          Contact us
        </h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar">
                  <img src="../../assets/img/faces/edis_contact.png" alt="...">
                </a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Edis</h4>
                    <h6 class="card-category text-muted">Booking Manager</h6>
                  </div>
                </a>
                <p class="card-contact text-center">+46 (0) 76 947 60 60</p>
                <p class="card-description text-center">
                  {{'staff.bio.edis'  }}
                </p>
                <br />
                <div>
                  <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                    Croatian
                  </span>
                  <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                    English
                  </span>
                  <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                    Swedish
                  </span>
                </div>
              </div>
              <div class="card-footer text-center">
                <a href="https://www.linkedin.com/in/edis-mesevic-93a0b126/" target="_blank"
                  class="btn btn-just-icon btn-linkedin">
                  <svg class="svgfill" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
                  </svg>
                </a>&nbsp;
                <a href="https://www.instagram.com/visitaylinvis/" target="_blank"
                  class="btn btn-just-icon btn-instagram">
                  <svg class="svgfill" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar">
                  <img src="./assets/img/faces/aylin_contact.png" alt="...">
                </a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Aylin</h4>
                    <h6 class="card-category text-muted">Beach guardian</h6>
                  </div>
                </a>
                <p class="card-contact text-center">&nbsp;</p>
                <p class="card-description text-center">
                  {{'staff.bio.aylin'  }}
                </p>
                <br />
                <br />
                <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                  Croatian
                </span>
                <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                  English
                </span>
                <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                  Swedish
                </span>
              </div>
              <div class="card-footer text-center">
                <a href="https://www.instagram.com/visitaylinvis/" class="btn btn-just-icon btn-dribbble">
                  <svg class="svgfill" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar">
                  <img src="./assets/img/faces/emir_contact.png" alt="...">
                </a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Emir</h4>
                    <h6 class="card-category text-muted">Transfer organizer</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  {{'staff.bio.emir'  }}
                </p>
                <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                  Croatian
                </span>
                <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                  English
                </span>
              </div>
              <div class="card-footer text-center">
                <a href="https://www.instagram.com/visitislandvis/" target="_blank"
                  class="btn btn-just-icon btn-instagram">
                  <svg class="svgfill" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar">
                  <img src="./assets/img/faces/adis_contact.png" alt="...">
                </a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Adis</h4>
                    <h6 class="card-category text-muted">Booking Manager</h6>
                  </div>
                </a>
                <p class="card-contact text-center">+46 (0) 76 766 33 00</p>
                <p class="card-description text-center">
                  {{'staff.bio.adis'  }}
                </p>
                <br />
                <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                  Croatian
                </span>
                <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                  English
                </span>
                <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                  Swedish
                </span>
              </div>
              <div class="card-footer text-center">
                <a href="https://www.linkedin.com/in/adis-mesevic-286b6933" target="_blank"
                  class="btn btn-just-icon btn-linkedin">
                  <svg class="svgfill" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
                  </svg>
                </a>&nbsp;
                <a href="https://www.instagram.com/visitislandvis/" target="_blank"
                  class="btn btn-just-icon btn-instagram">
                  <svg class="svgfill" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar">
                  <img src="./assets/img/faces/dijana_contact.png" alt="...">
                </a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Dijana</h4>
                    <h6 class="card-category text-muted">Designer</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  {{'staff.bio.dijana'  }}
                </p>
                <br />
                <br />
                <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                  Croatian
                </span>
                <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                  English
                </span>
                <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                  Swedish
                </span>
              </div>
              <div class="card-footer text-center">
                <a href="https://www.linkedin.com/in/dijana-mesevic-74a27391/" target="_blank"
                  class="btn btn-just-icon btn-linkedin">
                  <svg class="svgfill" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
                  </svg>
                </a>&nbsp;
                <a href="https://www.instagram.com/visitislandvis/" target="_blank"
                  class="btn btn-just-icon btn-dribbble">
                  <svg class="svgfill" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar">
                  <img src="./assets/img/faces/skipper.png" alt="...">
                </a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Meša</h4>
                    <h6 class="card-category text-muted">Driver/Skipper</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  {{'staff.bio.mesa'  }}
                </p>
                <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                  Croatian
                </span>
                <span class="badge badge-pill badge-info mr-1" style="margin-right:5px;">
                  Swedish
                </span>
                <span class="badge badge-pill badge-danger mr-1" style="margin-right:5px;">
                  "English"
                </span>
              </div>
              <div class="card-footer text-center">
                <a href="#mesa" class="btn btn-just-icon btn-instagram">
                  <svg class="svgfill" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contactus-2">
    <!-- <div *ngIf="mapsApiLoaded | async" id="contactUsMap2" class="big-map">
      <google-map [options]="mapsOptions" height="700px" width="100%">
        <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
          [options]="markerOptions"></map-marker>
      </google-map>
    </div> -->

    <div class="container">
      <div class="col-md-6" style="left:-50px;">
        <div class="card card-contact card-raised">
          <!-- <div class="text-center" style="text-align: center; width: 100%; margin-top:20px">
            <ngb-alert *ngIf="contactFormMessage" type="{{alertType}}" (close)="contactFormMessage = null">
              {{ contactFormMessage }}</ngb-alert>
          </div> -->
          <form class="contact-form">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="info info-horizontal">
                    <div class="icon icon-info">
                      <svg class="svgfill" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <defs>
                          <style>
                            .fa-secondary {
                              opacity: .4
                            }

                          </style>
                        </defs>
                        <path class="fa-primary"
                          d="M176 256c35.35 0 64-28.65 64-64s-28.65-64-64-64s-64 28.65-64 64S140.7 256 176 256zM208 288h-64C99.82 288 64 323.8 64 368C64 376.8 71.16 384 80 384h192c8.836 0 16-7.164 16-16C288 323.8 252.2 288 208 288z" />
                        <path class="fa-secondary"
                          d="M512 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h448c35.35 0 64-28.65 64-64V96C576 60.65 547.3 32 512 32zM176 128c35.35 0 64 28.65 64 64s-28.65 64-64 64s-64-28.65-64-64S140.7 128 176 128zM272 384h-192C71.16 384 64 376.8 64 368C64 323.8 99.82 288 144 288h64c44.18 0 80 35.82 80 80C288 376.8 280.8 384 272 384zM496 320h-128C359.2 320 352 312.8 352 304S359.2 288 368 288h128C504.8 288 512 295.2 512 304S504.8 320 496 320zM496 256h-128C359.2 256 352 248.8 352 240S359.2 224 368 224h128C504.8 224 512 231.2 512 240S504.8 256 496 256zM496 192h-128C359.2 192 352 184.8 352 176S359.2 160 368 160h128C504.8 160 512 167.2 512 176S504.8 192 496 192z" />
                      </svg>
                    </div>
                    <div class="description">
                      <h5 class="info-title">{{'Callus'  }}</h5>
                      <p> Edis Mesevic<br>
                        +46 (0) 76 947 60 60<br>
                        Mon - Sun, 8:00-22:00
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info info-horizontal">
                    <div class="icon icon-danger">
                      <svg class="svgfill" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <defs>
                          <style>
                            .fa-secondary {
                              opacity: .4
                            }

                          </style>
                        </defs>
                        <path class="fa-primary"
                          d="M273.2 311.1C241.1 271.9 168 174.6 168 120C168 53.73 221.7 0 288 0C354.3 0 408 53.73 408 120C408 174.6 334.9 271.9 302.8 311.1C295.1 321.6 280.9 321.6 273.2 311.1V311.1zM288 152C310.1 152 328 134.1 328 112C328 89.91 310.1 72 288 72C265.9 72 248 89.91 248 112C248 134.1 265.9 152 288 152z" />
                        <path class="fa-secondary"
                          d="M416 503V200.4C419.5 193.5 422.7 186.7 425.6 179.9C426.1 178.6 426.6 177.4 427.1 176.1L543.1 129.7C558.9 123.4 576 135 576 152V422.8C576 432.6 570 441.4 560.9 445.1L416 503zM15.09 187.3L137.6 138.3C140 152.5 144.9 166.6 150.4 179.9C153.3 186.7 156.5 193.5 160 200.4V451.8L32.91 502.7C17.15 508.1 0 497.4 0 480.4V209.6C0 199.8 5.975 190.1 15.09 187.3H15.09zM384 504.3L191.1 449.4V255C212.5 286.3 234.3 314.6 248.2 331.1C268.7 357.6 307.3 357.6 327.8 331.1C341.7 314.6 363.5 286.3 384 255L384 504.3z" />
                      </svg>
                    </div>
                    <div class="description">
                      <h5 class="info-title">{{'FindUsAtBeach'  }}</h5>
                      <p> Rukavac Luka 76<br>
                        21480 Vis
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" name="guestName" class="form-control"
                      placeholder="{{'Name'  }}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="guestEmail" class="form-control" email
                      placeholder="{{'YourEmailHere'  }}">
                    <div>
                      <div class="form-control-feedback">
                        {{'InvalidEmail'  }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <textarea name="txtMessage" class="form-control" id="txtMessage" rows="6"
                  placeholder="Message"></textarea>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      I'm not a robot !
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-rose pull-right">
                    <div class='uil-reload-css reload-small'>
                      <div></div>
                    </div>
                    <i class="far fa-paper-plane"></i>
                    {{'SendUsMessage'  }}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
