<header>
  <div class="page-header min-vh-50" style="background-image: url('../../assets/img/logo.jpg')">
    <span class="mask bg-gradient-dark"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-white text-center">
          <h2 class="text-white">Book your next trip</h2>
          <p class="lead">An arrangement you make to have a hotel room, tickets, etc. at a particular time in the future</p>
        </div>
      </div>
    </div>
  </div>
  <div class="position-relative overflow-hidden" style="height:36px;margin-top:-33px;">
    <div class="w-full absolute bottom-0 start-0 end-0" style="transform: scale(2);transform-origin: top center;color: #fff;">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  <div class="container">
    <div class="row bg-white shadow-lg mt-n6 border-radius-md pb-4 p-3 mx-sm-0 mx-1 position-relative">
      <div class="col-lg-3 mt-lg-n2 mt-2">
        <label class="">Check-in</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-calendar"></i></span>
          <input class="form-control datepicker" placeholder="Please select date" type="text">
        </div>
      </div>
      <div class="col-lg-3 mt-lg-n2 mt-2">
        <label class="">Check-out</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-calendar"></i></span>
          <input class="form-control datepicker" placeholder="Please select date" type="text">
        </div>
      </div>
      <div class="col-lg-3 mt-lg-n2 mt-2">
        <label class="">&nbsp;</label>
        <button type="button" class="btn bg-gradient-dark w-100 mb-0">Search</button>
      </div>
    </div>
  </div>
</header>
